 <nav  class="bg-[#f5efe6] text-[#3e2f23] fixed w-full z-20 top-0 left-0 border-b border-gray-700">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    
    <!-- Logo -->
    <a href="/" class="flex items-center space-x-3">
      <img class="h-12 object-contain mix-blend-multiply"  src="/assets/Log.png" alt="Logo" />
    </a>

    <button id="menu-btn" type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-400 rounded-lg md:hidden hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-gray-500">

      <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14"/>
      </svg>
    </button>

    <!-- Menu -->
    <div id="menu" class="hidden w-full md:block md:w-auto">
      <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border rounded-lg  md:flex-row md:space-x-8 md:mt-0 md:border-0 ">
        
        <a href="/" class="block py-2 px-3 rounded md:bg-transparent md:p-0 hover:text-[#b8965a] transition font-medium">
            Explore
          </a>
        </li>

        <li>
          <a href="/nav/about" class="block py-2 px-3  rounded  hover:text-[#b8965a] transition font-medium md:p-0">
            About
          </a>
        </li>

        <li>
          <a href="/nav/support" class="block py-2 px-3 rounded hover:text-[#b8965a] transition font-medium md:p-0">
           Support
          </a>
        </li>

        <li>
          <a href="/order/view" class="block py-2 px-3 rounded hover:text-[#b8965a] transition font-medium md:p-0">
           Your Orders 
          </a>
        </li>

        <li>
          <a href="/cart/view" class="block py-2 px-3 rounded hover:text-[#b8965a] transition font-medium md:p-0">
           <i class="fa-solid fa-cart-shopping"></i>
          </a>
        </li>

<div>
<% if(currUser) {%> 
  <button
  class="inline-flex items-center justify-center bg-[#b8965a] font-medium shadow-sm font-medium rounded-lg text-sm px-4 py-2.5 focus:outline-none"
  type="button">
 <a href="/logout">Logout</a>
</button>
  
  <%}%>

  <% if(!currUser) {%> 
     <a href="/login"
  class="inline-flex items-center justify-center px-4 py-2 rounded-lg transition hover:border-2 border-brown-500"
  type="button">
 <i class="fa-regular fa-user"></i>
  </a>
    
    <% } %>
 

<br>

</div>

      </ul>
    </div>
  </div>
</nav>
<br /> <br />

