<% layout("/layouts/boilerplate") %>
<br />

<h1 style="text-align: center; font-size: 2rem; ">Sign Up</h1>
<br>
<div style=" width: 800px; margin-left: auto; margin-right: auto;">
    <form class="max-w-sm mx-auto" action="/user/signup" method="POST">
  
  <div class="mb-5 mt-5">

    <label for="name" class="block mb-2 text-sm font-medium text-gray-900">
      UserName
    </label>
    <input type="text" id="username" name="username"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full px-3 py-2.5 shadow-sm placeholder-gray-400"
      placeholder="ABC" required />
  </div>

    <div class="mb-5 mt-5">
    <label for="email" class="block mb-2 text-sm font-medium text-gray-900">
      Your Mail Id
    </label>
    <input type="email" id="email" name="email"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full px-3 py-2.5 shadow-sm placeholder-gray-400"
      placeholder="name@example.com" required />
    </div>


      <div class="mb-5  mt-5">
    <label for="password" class="block mb-2 text-sm font-medium text-gray-900">
      Your password
    </label>
    <input type="password" id="password" name="password"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full px-3 py-2.5 shadow-sm placeholder-gray-400"
      placeholder="••••••••" required />
  </div>


  <label for="remember" class="flex items-center mb-5">
    <input id="remember" type="checkbox"
      class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-2 focus:ring-blue-300"
      required />
    <p class="ml-2 text-sm font-medium text-gray-900 select-none">
      I agree with the 
      <a href="#" class="text-blue-600 hover:underline">terms and conditions</a>.
    </p>
  </label>

  <button type="submit"
    class="bg-[#b8965a] text-white shadow-sm font-medium rounded-lg text-sm px-4 py-2.5 focus:outline-none transition duration-200">
    Sign Up
  </button>
<br /> <br />
 
</form>

</div>

 

